<div class="about-container">
  <h2 class="about-header">Über diesen Blog:</h2>
  <p class="about-text">
    Hi! Ihr interessiert Euch für Umweltschutz und wollt wissen, wie Ihr Euren Alltag nachhaltiger gestalten könnt?
    Dann seid Ihr hier genau richtig!<br> Auf diesem Blog findet Ihr alle möglichen Artikel,
    Tipps und Tricks zum Thema Nachhaltigkeit. Denn wie Edmund Burke bereits sagte:<br><br>
    <span class="quote">"Nobody made a greater mistake than he who did nothing because he could do only a little."</span><br><br>
    Also lasst uns gemeinsam versuchen, die Welt nachhaltiger und das Leben grüner zu machen. Weil jeder Schritt zählt!<br><br>
    Eure Katharina <i class="bi bi-suit-heart-fill"></i>
  </p>
</div>

