<div class="blog-container">
  <p class="author">
    <i class="bi bi-person-circle"></i>
    {{blog.author}}
  </p>
  <p class="title">{{blog.title}}:
    <span class="description">{{blog.description}}</span>
  </p>
  <p class="date">{{blog.date}}</p>
  <div class="image-container">
    <img src="{{blog.image}}" alt="Foto" class="image">
  </div>
  <p class="text" [innerHTML]="blog.text"></p>
  <div class="edit-container">
    <a routerLink="edit" class="edit">
      <button type="button" class="btn btn-primary edit-button">Blogeintrag editieren</button>
    </a>
  </div>
  <video controls>
    <source src="{{blog.video}}" type="video/mp4">
  </video>
</div>
<app-blog-comment (submitComment)="addNewComment($event)"></app-blog-comment>



